.details-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}

.details-wrapper > img {
  width: 600px;
  margin-bottom: 20px;
}

.title {
  margin: 0;
  display: block;
  width: 600px;
  margin-bottom: 10px;
}

.pre-title {
  composes: title;
  font-size: 18px;
}

.overview,
.release_date,
.vote_average {
  composes: title;
}

.sub-title {
  color: rgb(153, 0, 255);
}

.vote_average {
  margin-bottom: 20px;
}

.reviews-link {
  margin-bottom: 10px;
}

.cast-link {
  margin-bottom: 20px;
}
